# deploy
PORT=3000
NODE_ENV=development

APP_URL=https://yourapp.com
APP_TITLE='Your App'

# event details
EVENT_ID='uuid'
CHECKIN_QR_TOKEN='randomstring'

# auth
CHECKIN_SESSION_TTL=900 # 15 minutes
USER_SESSION_TTL=259200 # 72 hours
ADMIN_SESSION_TTL=43200 # 12 hours

# postgres
POSTGRES_USER=checkin
POSTGRES_PASSWORD=checkin
POSTGRES_DB=checkin_dev
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# redis
REDIS_HOST=localhost
REDIS_PORT=6379