# deploy
PORT=3000
NODE_ENV=development

APP_URL=https://yourapp.com
APP_TITLE='Your App'

EVENT_ID='uuid'

# auth
JWT_ISSUER=https://yourapp.com
AUTH_SECRET=your_secret_here
QR_SECRET=your_secret_here
SESSION_TTL=600

# postgres
DATABASE_URL=postgres://user:password@localhost:5432/db

# redis
REDIS_HOST=localhost
REDIS_PORT=6379