# deploy
PORT=3000
NODE_ENV=development

APP_URL=https://yourapp.com
APP_TITLE='Your App'

# event details
EVENT_ID='uuid'
CHECKIN_QR_TOKEN='randomstring'

# auth
CHECKIN_SESSION_TTL=900
USER_SESSION_TTL=259200
ADMIN_SESSION_TTL=43200

# postgres
DATABASE_URL=postgres://user:password@localhost:5432/db

# redis
REDIS_HOST=localhost
REDIS_PORT=6379