{
    admin off

    debug

    log {
        output stdout
        format console
    }
}

http://inspire.yorsh.co {
    log {
        output stdout
        format console
    }

    reverse_proxy 172.27.24.25:3000
}

http://proxy {
    log {
        output stdout
        format console
    }

    respond <<EOF
{
    "status": "ok",
    "service": "proxy",
    "app": "inspired-checkin",
    "server": "jarvis"
}
EOF 200
}