<main>
  <div id="user-scores" class="card">
    <div class="title-container">
      <img
        src="https://res.cloudinary.com/dsbaiaeqs/image/upload/v1772483417/banner_1_rh8fon.png"
        alt="logo-ics.png"
        width="100px"
        height="100px"
      />
      <h1>Checando a Aprendizagem</h1>
    </div>

    <div class="form-group">
      <input
        id="email"
        type="email"
        placeholder="Insira o e-mail utilizado nas checagens"
        class="align-center"
      />
    </div>

    <div class="button-container">
      <button
        id="load-btn"
        class="lg full-width spinner-padding"
        onclick="UserScores.load()"
      >
        Visualize suas notas
      </button>
    </div>

    <div id="error" class="error align-center"></div>

    <table id="summary-table" style="display: none">
      <tbody>
        <tr>
          <th>Nome</th>
          <td id="user-name" class="cell-ellipsis"></td>
        </tr>
        <tr>
          <th>Usuário(s)</th>
          <td id="user-ids" class="cell-ellipsis"></td>
        </tr>
        <tr>
          <th>Respostas</th>
          <td id="user-num-responses"></td>
        </tr>
        <tr>
          <th>Nota média</th>
          <td id="user-average-score"></td>
        </tr>
      </tbody>
    </table>

    <hr />

    <table id="scores-table" class="tr-border-bottom" style="display: none">
      <thead>
        <tr>
          <th>Módulo</th>
          <th class="form-score">Nota</th>
        </tr>
      </thead>
      <tbody id="scores-tbody"></tbody>
    </table>

    <div id="empty-state" class="empty" style="display: none">
      Nenhuma nota encontrada.
    </div>

    <div id="scores-note">
      <p id="last-update-timestamp" style="font-style: italic"></p>
      <p>
        Novas notas poderão ser visualizadas em até uma hora após o envio do
        formulário.
      </p>
    </div>
  </div>

  <!-- HTML template for table row -->
  <template id="row-template">
    <tr>
      <td class="form-name cell-ellipsis"></td>
      <td class="form-score"></td>
    </tr>
  </template>
</main>
