<div class="footer">
  <div class="footer-top">
    <span>© <%- new Date().getFullYear() %> Inspire</span>
    <span class="dot">•</span>
    <span class="credit">
      por <a href="https://yorsh.co" target="_blank">Yorsh</a>
    </span>
  </div>

  <div class="footer-links">
    <a href="/privacy">Privacidade</a>
    <span class="dot">•</span>
    <a href="/terms">Termos</a>
  </div>
</div>
