.checkin-container {
  position: relative;
  min-height: 300px;
  
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
}

.checkin-container input,
.checkin-container button {
  margin-bottom: 0;
}

/* step */
.checkin-container .ticket-step,
.checkin-container .verification-step,
.checkin-container .qr-step,
.checkin-container .success-step {
  opacity: 0;
  transform: translatex(10px);

  pointer-events: none;
  position: absolute;
  inset: 0;

  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

.checkin-container .ticket-step.show,
.checkin-container .verification-step.show,
.checkin-container .qr-step.show,
.checkin-container .success-step.show {
  opacity: 1;
  transform: translateY(0);

  pointer-events: auto;
  position: relative;
}

.checkin-container .ticket-step.fade-out,
.checkin-container .verification-step.fade-out,
.checkin-container .qr-step.fade-out,
.checkin-container .success-step.fadeout {
  animation: fadeOut 0.3s ease forwards;
}

/* verification step */
.checkin-container table {
  width: 100%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 24px;

  padding: 8px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.checkin-container th,
.checkin-container td {
  padding: 0 4px;
  height: 40px;
  font-size: 0.9em;
}

.checkin-container th {
  text-align: left;
}

.checkin-container th div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.checkin-container td {
  text-align: right;
}

.checkin-container button {
  margin-top: 16px;
}

/* qr */
.qr-step .ticket-code-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-weight: 700;
}

/* success */
.success-step {
  /*display: none;
  opacity: 0;*/
  transform: scale(0.95);
  /*transition: all 0.4s ease;*/
  /*position: absolute;
  inset: 0;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.success-step.show {
  /*display: flex;
  opacity: 1;*/
  transform: scale(1);
  /*animation: fadeIn 0.4s ease;*/
}

.success-step.show .check {
  animation: pop 0.4s ease;
  /*animation-delay: 0.2s;*/
}

.check {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*border: 2px solid #4ade80;*/
  background: #4caf50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check::after {
  content: 'check';
  color: #fff;
  font-size: 36px;
  font-weight: 900;
}

.success-message {
  opacity: 0.95;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.success-message.changing {
  opacity: 0;
  transform: translateY(4px);
}
