/*  */
.ticket-step {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.4s;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.ticket-step.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.ticket-step input {
  margin-bottom: 0;
}

.qr-step button {
  margin-bottom: 0;
}
