<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %></title>

<!-- global fonts -->
<link
href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
rel="stylesheet"
/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<!-- global styles -->
<link rel="stylesheet" href="/css/main.css" />

<!-- page-specific styles -->
<% if (styles) {
%>
<%- styles %>
<%
} %>
</head>
<body>

<%- body %>

<button id="skip-button" class="test">
<span>[test] pular etapa</span>
</button>

<!-- global scripts -->

<!-- page-specific scripts -->
<% if (scripts) {
%>
<%- scripts %>
<%
} %>

<!-- dev -->
<script>
const isSmallScreen = window.matchMedia('(max-width: 1024px)').matches;
const isTouch = 'ontouchstart' in window || navigator.maxTouchPoints > 0;
const isDev = location.hostname === 'localhost' || location.hostname.includes('dev') || location.hostname.includes('trycloudflare.com');

if (isSmallScreen && isTouch && isDev) {
const script = document.createElement('script');
script.src = 'https://cdn.jsdelivr.net/npm/eruda';
document.body.appendChild(script);
script.onload = function () {
eruda.init();
};
}
</script>

</body>
</html>