.main-container {
  position: relative;

  min-height: 300px;
  width: 90%;
  max-width: 400px;

  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;

  background: var(--glass);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  transition: 
    opacity 0.3s ease;
    
}

/* glow */
.main-container::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25),
    transparent 60%
  );
  opacity: 0;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: opacity 0.2s;
}

.main-container:hover::before {
  opacity: 1;
}

.content-wrapper {
  flex: 1;
  position: relative;
}
