.main-container {
  position: relative;

  /*min-height: 300px;*/
  width: 90%;
  max-width: 400px;
  min-width: 360px;

  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;

  background: var(--glass);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  transition: height 0.4s ease-in-out;
  overflow: hidden;

  animation: fadeIn 0.4s ease-out forwards;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}

/* container content */
.content-wrapper {
  flex: 0 0 auto;
  position: relative;
  min-height: 100px;
}

/* section */
section {
  opacity: 0;

  pointer-events: none;
  position: absolute;
  inset: 0;

  transition:
    opacity 0.1s ease-out,
    transform 0.1s ease-out;
}

section.show {
  opacity: 1;

  pointer-events: auto;
  position: relative;

  transition:
    opacity 0.35s ease-in,
    transform 0.35s ease-in;
}

section.fadeout {
  animation: fadeOut 0.3s ease forwards;
}
