.main-container {
  position: relative;

  min-height: 300px;
  width: 90%;
  max-width: 400px;

  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;

  background: var(--glass);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  transition: height 0.3s ease-in-out;
  overflow: hidden;

  animation: fadeIn 0.4s ease-out forwards;
  animation-delay: 0.4s;
  animation-fill-mode: backwards;
}

/* container content */
.content-wrapper {
  flex: 1;
  position: relative;
}
