.div-spinner {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);

  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 2px solid currentColor;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

/* loading state */
div.loading .div-spinner {
  opacity: 1;
}
