/* container */
/*.container:has(.success.show) {
  animation: flash 0.2s ease;
}*/

/* hint */
.hint-div.hint {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--text);
  opacity: 0.9;
  min-height: 18px;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.hint-div.error {
  color: var(--error);
  animation: shake 0.3s;
}

.hint-div.changing {
  opacity: 0;
  transform: translateY(4px);
}
