/* text */
h1 {
  margin-bottom: 25px;
}

/* input */
input {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  background: var(--input-bg);
  color: var(--text);
  font-size: 16px;
  line-height: 1.4;
  -webkit-text-fill-color: var(--text);
  opacity: 0.9;
  transition: all 0.25s ease;
}

input:focus {
  background: var(--input-focus);
  transform: scale(1.03);
}

input:active {
  transform: scale(1.01);
}

input.error {
  box-shadow: 0 0 0 2px var(--error);
  animation: shake 0.3s;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input:not(.error):valid {
  box-shadow: 0 0 0 2px rgba(74, 222, 128, 0.5);
}

@media (prefers-color-scheme: light) {
  input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}

/* input loader */
.input-wrapper {
  position: relative;
}

.input-spinner {
  position: absolute;
  right: 14px;
  /*top: 20px;*/
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 2px solid currentColor;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.input-spinner.right {
  right: -4px;
}

.input-wrapper.loading .input-spinner {
  opacity: 1;
}
