button.test {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  font-size: 0.9em;
  z-index: 99;
  opacity: 0;
  background: #000;
  color: #fff;
  border: 3px solid red;
  transition: all 0.5s ease;
  pointer-events: none;
}

button.test.available {
  opacity: 0.8;
  border: 3px solid green;
  pointer-events: auto;
}
