<main>
  <div id="error-500" class="card align-center">
    <div class="title-container">
      <h1>Erro inesperado</h1>
      <p class="error-subtitle">Algo deu errado</p>
    </div>

    <div class="empty">
      Ocorreu um erro interno no servidor.
      <br />
      Tente novamente em alguns instantes.
    </div>
  </div>
</main>
