<!-- checkin.ejs -->
<%- include('../layouts/main') %>

<div id="container" class="container">
  <%- include('../components/checkin-form') %>
  <%- include('../components/qr-step') %>
</div>

<script src="/js/pages/checkin.js"></script>