<% styles = `
<link rel="stylesheet" href="/css/pages/checkin.css" />
`; scripts = `
<script src="https://unpkg.com/html5-qrcode"></script>
<script type="module" src="/js/pages/checkin/index.js"></script>
`; %>

<!-- FIXME: add JS warning -->
<div data-checkin="container" class="container">
  <div data-checkin="ticket-step" class="ticket-step">
    <h1>inspire</h1>

    <div data-checkin="input-wrapper" class="input-wrapper">
      <input
      id="checkin-ticket-input"
      data-checkin="ticket-input"
      type="text"
      placeholder="Digite seu código de ingresso..."
      inputmode="text"
      pattern="[a-z0-9]{5}"
      autocomplete="one-time-code"
      autocorrect="on"
      autocapitalize="sentences"
      enterkeyhint="send"
      />
    <div class="input-spinner"></div>
  </div>

  <div data-checkin="ticket-hint-div"></div>
</div>

<!-- TODO: turn this into a component -->
<div data-checkin="qr-step" class="qr-step">
  <h1>inspire</h1>

  <div class="qr-reader-wrapper">
    <div id="checkin-qr-reader" class="qr-reader"></div>
    <div class="div-spinner"></div>
  </div>

  <button data-checkin="start-camera-btn">
    <span class="material-symbols-outlined btn-label"> qr_code_scanner </span>
    <span class="btn-label">Ativar câmera</span>
    <span class="btn-spinner"></span>
  </button>

  <div data-checkin="qr-hint-div" class="qr-hint">
    Escaneia o QR code da Inspire para confirmar que você chegou 📍
  </div>
  <button data-test="skip-qr-button" class="test">
    <span>[test] pular etapa</span>
  </button>
</div>

<!-- success -->
<div data-checkin="success" class="success">
  <div class="check"></div>
  <div data-checkin="success-message" class="success-message"></div>
</div>
</div>

<script src="https://unpkg.com/html5-qrcode"></script>