<header class="top-bar">
  <div data-flex-position="start">
    <button data-top-bar="debug-btn" title="Debug">
      <span class="material-symbols-outlined"> bug_report </span>
    </button>
  </div>
  <div data-flex-position="middle"></div>
  <div data-flex-position="end">
    <button data-top-bar="logout-icon" title="Logout">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </div>
</header>
