<header class="top-bar">
  <div data-flex-position="start"></div>
  <div data-flex-position="middle"></div>
  <div data-flex-position="end">
    <button data-top-bar="logout-icon" class="logout-icon ghost">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </div>
</header>
