<script>
  const Loaders = (() => {
    class Loader {
      /**
       * @param {HTMLElement} parent
       * @param {[string]} classes
       * @param {object} options
       * @param {boolean} options.overlay
       */
      constructor(parent, classes, options) {
        this.parent = parent;
        this.classes = classes;
        this.options = options;
        this.container = null;
        this.spinnerEl = null;
        this.isActive = false;
      }

      display() {
        if (this.isActive) return;

        this.spinnerEl = document.createElement('span');
        this.spinnerEl.classList.add(...this.classes);

        let newEl;
        if (this.options.overlay) {
          this.container = document.createElement('div');
          this.container.classList.add('spinner-container', 'overlay');
          this.container.appendChild(this.spinnerEl);
          newEl = this.container;
        } else {
          newEl = this.spinnerEl;
        }
        
        this.parent.appendChild(newEl);
        this.isActive = true;
      }

      revert() {
        if (!this.isActive || !this.spinnerEl) return;

        if (this.container) {
          this.container.remove();
        } else if (this.spinnerEl) {
          this.spinnerEl.remove();
        }
        this.container = null;
        this.spinnerEl = null;
        this.isActive = false;
      }
    }

    const spinners = Object.freeze({
      /**
       * @param {HTMLElement} parent
       * @param {object} options
       * @param {string} options.size
       * @param {[string]} options.classes
       */
      simple(parent, size, options = {}) {
        const classes = ['spinner', 'simple', options.size || 'small'];
        if (options.classes) classes.push(...options.classes);
        return new Loader(parent, classes, options);
      },

      /**
       * @param {HTMLElement} parent
       * @param {object} options
       * @param {string} options.type
       * @param {string} options.style
       * @param {string} options.size
       * @param {[string]} options.classes
       */
      overlay(parent, options = {}) {
        options.overlay = true;
        const classes = [
          options.type || 'spinner',
          options.style || 'simple',
          options.size || 'small',
        ];
        if (options.classes) classes.push(...options.classes);
        return new Loader(parent, classes, options);
      },
    });

    return Object.freeze({
      spinners,
    });
  })();
</script>
