body {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient);
  min-height: 100dvh;
  position: relative;
}

.no-js-warning {
  background: #ffdddd;
  color: #900;
  padding: 16px;
  text-align: center;
  font-weight: 600;
}
