body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient);
  min-height: 100dvh;
  position: relative;
}

.no-js-warning {
  background: #ffdddd;
  color: #900;
  padding: 16px;
  text-align: center;
  font-weight: 600;
}

.main-wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: translateY(calc(-1 * var(--top-bar-height) / 2));
}
